<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="app.review.dstp.list.ChickenListMapper">

	<select id="getChickenList"
		parameterType = "String"
		resultType="app.review.dstp.vo.StoreVo">
		SELECT num,store,adress,s_rating,img
		FROM ck_store
	</select>

	<select id="getChickenList2"
		parameterType = "String"
		resultType="app.review.dstp.vo.StoreVo">
		SELECT num,store,adress,s_rating,img
		FROM ck_store WHERE adress LIKE '${groupedArea}'
	</select>
    
    <select id="getDetailList"
		parameterType="app.review.dstp.vo.StoreVo"
        resultType="app.review.dstp.vo.StoreVo">
        select C.*
        from (
			SELECT row_number() over(order by B.date desc) as rnum,
				A.store, A.adress, A.s_rating,
		        B.rating, B.date, B.id, B.review
			FROM ck_store A, ck_review B 
			WHERE A.num = B.fk and A.num = #{num}
		) as C
		where C.rnum between #{startNum} and #{endNum}
    </select>
    
    <select id="getChickenDate"
    	parameterType="integer"
    	resultType="app.review.dstp.vo.DateVo">
    	SELECT m_2022_04, m_2022_03, m_2022_02, m_2022_01, m![](../../../../../../../../../../../../../Users/lucas/Pictures/스크린샷 2022-05-22 오후 6.59.18.png)_2021_12 FROM ck_date WHERE fk = #{num}
    </select>
	
	<select id="getStore"
		parameterType="integer"
		resultType="app.review.dstp.vo.StoreVo">
		SELECT store,adress,s_rating FROM ck_store WHERE num = #{num};
	</select>
	
	<select id="getChickenWord"
		parameterType="integer"
		resultType="app.review.dstp.vo.WordVo">
		SELECT * FROM ck_word WHERE fk = #{num}
	</select>
    
</mapper> 